In [ ]:
# 2019/07/30

# python variable
* ID (address)
* Object
* Value
- "John"

In [1]:
name = 'John'

In [2]:
id(name)

4582246192

In [3]:
name2 = name

In [4]:
id(name2)

4582246192

In [ ]:
# mutable: list, dict, set
# immutable: str,

In [5]:
li_a = [1,2,3]

In [6]:
id(li_a)

4582811656

In [7]:
id(li_a[0])

4545733856

In [ ]:
# Mutable vs Immutable

In [13]:
a = 1
b = 1

In [14]:
id(a)

4545733856

In [15]:
id(b)

4545733856

In [16]:
li_1 = [1,2,3]
li_2 = [1,2,3]

In [17]:
id(li_1)

4582267848

In [18]:
id(li_2)

4582127880

In [19]:
id(li_1[0])

4545733856

In [ ]:
# is vs ==

## 'is' ==> compare the address(ID)
## '==' ==> compare the value

In [11]:
li_a == li_b

True

# Pandas

In [22]:
# to use system command
!pip list

Package                  Version
------------------------ --------
alabaster                0.7.12
anytree                  2.6.0
appnope                  0.1.0
asn1crypto               0.24.0
astroid                  2.2.5
attrs                    19.1.0
Babel                    2.6.0
backcall                 0.1.0
bleach                   2.1.3
blessings                1.7
bpython                  0.17.1
certifi                  2019.3.9
cffi                     1.12.2
chardet                  3.0.4
cloudpickle              0.8.0
conda                    4.6.8
cryptography             2.6.1
curtsies                 0.3.0
cycler                   0.10.0
decorator                4.3.0
docutils                 0.14
entrypoints              0.3
greenlet                 0.4.15
html5lib                 1.0.1
idna                     2.8
imagesize                1.1.0
ipykernel                5.1.0
ipython                  7.3.0
ipython-genutils         0.2.0
isort                    4.3.15
jedi                     0.12.0
Jinja2                   2.10
jsonschema               3.0.1
jupyter-client           5.2.4
jupyter-core             4.4.0
jupyterlab               0.35.4
jupyterlab-launcher      0.13.1
jupyterlab-server        0.2.0
keyring                  18.0.0
lazy-object-proxy        1.3.1
MarkupSafe               1.1.1
mccabe                   0.6.1
mistune                  0.8.4
mkl-fft                  1.0.10
mkl-random               1.0.2
nbconvert                5.3.1
nbformat                 4.4.0
nltk                     3.4
notebook                 5.7.6
numpy                    1.16.2
numpydoc                 0.8.0
packaging                19.0
pandas                   0.24.2
pandocfilters            1.4.2
parso                    0.2.1
pexpect                  4.6.0
pickleshare              0.7.5
Pillow                   6.0.0
pip                      19.0.3
prometheus-client        0.6.0
prompt-toolkit           2.0.9
psutil                   5.6.1
ptyprocess               0.6.0
pycodestyle              2.5.0
pycosat                  0.6.3
pycparser                2.19
pyflakes                 2.1.1
Pygments                 2.3.1
pylint                   2.3.1
pyOpenSSL                19.0.0
pyparsing                2.3.1
pyrsistent               0.14.11
PySocks                  1.6.8
python-dateutil          2.8.0
pytz                     2018.9
pyzmq                    17.1.2
QtAwesome                0.5.7
qtconsole                4.4.3
QtPy                     1.7.0
requests                 2.21.0
rope                     0.12.0
ruamel-yaml              0.15.46
Send2Trash               1.5.0
setuptools               40.8.0
simplegeneric            0.8.1
six                      1.12.0
snowballstemmer          1.2.1
Sphinx                   1.8.5
sphinxcontrib-websupport 1.1.0
spyder                   3.3.3
spyder-kernels           0.4.2
terminado                0.8.1
testpath                 0.4.2
tornado                  6.0.1
traitlets                4.3.2
typed-ast                1.3.1
typing                   3.6.6
urllib3                  1.24.1
wcwidth                  0.1.7
webencodings             0.5.1
wheel                    0.33.1
wrapt                    1.11.1
wurlitzer                1.0.2

In [20]:
import pandas as pd

In [77]:
print(pd.__version__)

0.24.2

In [78]:
a = 1

In [79]:
data = pd.read_excel('excel_demo.xlsx')#, index_col=1)

In [80]:
data.head()

    a    b    c  d    e
0   1    1   23  4   ff
1   4   22    5  4   gg
2  22  222  333  4  ttt

In [81]:
data['new']  = data['a'].apply(str) + data['e']

In [82]:
#data['new'] = str(data['a']) + data['b']
data['new'] = data['a'].apply(str)

In [83]:
data.head()

    a    b    c  d    e new
0   1    1   23  4   ff   1
1   4   22    5  4   gg   4
2  22  222  333  4  ttt  22

In [84]:
data.a.apply(str)

0     1
1     4
2    22
Name: a, dtype: object

In [85]:
data['a']

0     1
1     4
2    22
Name: a, dtype: int64

In [86]:
data[['a']]

    a
0   1
1   4
2  22

In [87]:
data.loc[1:2, ['a','b']]

    a    b
1   4   22
2  22  222

In [88]:
data.loc[:, ['a','b']]

    a    b
0   1    1
1   4   22
2  22  222

In [89]:
(data.a == 1) | (data.b == 1)

0     True
1    False
2    False
dtype: bool

In [90]:
data.iloc[1:2,1:4]

    b  c  d
1  22  5  4

In [92]:
#data.plot()

In [93]:
data.to_csv('data_test_out.csv')

In [100]:
data.columns

Index(['a', 'b', 'c', 'd', 'e', 'new'], dtype='object')